<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Center Crop Example</title>
  </head>

  <body>
    <h1>Center Crop Example</h1>

    <h2>Request format</h2>
    <pre>
        Endpoint: /api/center-crop
        Method: POST
        Content-Type: multipart/form-data
        Body:
            width: &lt;integer&gt;
            height: &lt;integer&gt;
            image: &lt;file&gt; (or) image_url: &lt;string&gt;
    </pre>

    <h2>Response format</h2>
    <pre>
        &lt;file&gt;
    </pre>

    <h2>Example</h2>
    <form action="/api/center-crop" method="POST" enctype="multipart/form-data">
      <div>
        <label for="width">Width:</label>
        <input type="number" name="width" />
      </div>
      <div>
        <label for="height">Height:</label>
        <input type="number" name="height" />
      </div>
      <div>
        <label for="image">Image:</label>
        <input type="file" name="image" />
      </div>
      <div>
        <label for="image_url">Image URL:</label>
        <input type="url" name="image_url" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>

  </body>
</html>