<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Image Hash Example</title>
  </head>

  <body>
    <h1>Image Hash Example</h1>

    <h2>Request format</h2>
    <pre>
        Endpoint: /api/image-difference
        Method: POST
        Content-Type: multipart/form-data
        Body:
            image: &lt;file&gt;
            image_url: &lt;string&gt;
    </pre>

    <h2>Response format</h2>
    <pre>
        {
            "data": {
                "hash": <hash>
            }
        }
    </pre>

    <h2>Example</h2>
    <form action="/api/image-hash" method="POST" enctype="multipart/form-data">
      <div>
        <label for="image">Image:</label>
        <input type="file" name="image" />
      </div>
      <div>
        <label for="image_url">Image URL:</label>
        <input type="url" name="image_url" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>

  </body>
</html>