<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Image Difference Example</title>
  </head>

  <body>
    <h1>Image Difference Example</h1>

    <h2>Request format</h2>
    <pre>
        Endpoint: /api/image-difference
        Method: POST
        Content-Type: multipart/form-data
        Body:
            image: <image>
            image_2: <image_2>
            image_url: <image_url>
            image_2_url: <image_url>
    </pre>

    <h2>Response format</h2>
    <pre>
        {
            "status": "success",
            "data": {
                "image": <image>
            }
        }
    </pre>

    <h2>Example</h2>
    <form action="/api/image-difference" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="file" name="image_2" />
        <input type="url" name="image_url" />
        <input type="url" name="image_2_url" />
        <input type="submit" value="Submit" />
    </form>

  </body>
</html>