<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
  </head>

  <body>
    <h1>Simple Image API</h1>


    <h2>Endpoints</h2>
    <ul>
      <li><a href="/api-examples/center-crop">/api/center-crop</a>: Given width, height and an image. Crop it from the center with width and height</li>
      <li><a href="/api-examples/image-difference">/api/image-difference</a>: Given two images, output some score that measures the difference between two images.</li>
      <li><a href="/api-examples/image-hash">/api/image-hash</a>: Given an image, output a hash that can be used to uniquely identify the image</li>
    </ul>

  </body>
</html>